<div>	<form name="DepartmentForm">
				  <div class="form-group">
					  <h3>Department Details</h3>
					  <div><label> Employee Name:</label>
					  <input type="textbox" name="fFirstName" class="form-control" placeholder="FirstName" ng-model="FirstName" required>
					  <input type="textbox" name="fLastName" class="form-control" placeholder="LastName" ng-model="LastName" required></br></div>
					  <div>  <label> Monthly salary:</label>
				    <input type="textbox" name="monthly salary" class="form-control" placeholder="monthly Salary" ng-model="monthlysalary" required></br></div>
					  <div>  <label>  Department:</label>
				    <input type="textbox" name="department" class="form-control" placeholder="department" ng-model="department" required></br></div>
					  <div>	  <label> Designation:</label>
					  <input type="textbox" name="designation" class="form-control" placeholder="designation" ng-model="designation" required></br></br></div>
					  </div>
	             <button type="submit" class="btn btn-primary" ng-click="doSave()" >Save</button>
					     <button type="submit" class="btn btn-primary" ng-click="doUpdate()" >Update</button>
					   <button type="submit" class="btn btn-primary" ng-click="doDelete()" >Delete</button>
					   <button type="submit" class="btn btn-primary" ng-click="doGet()" >Get</button>
					  <button type="clear" class="btn btn-primary" ng-click="doLogin()" >Reset</button>
  <button type="button" class="btn btn-primary" ui-sref="monthlyWork" >NEXT</button>
				</form>
			</div>
			</div>
