<div><form name="WorkingHistoryForm" xmlns="http://www.w3.org/1999/html">
				<div class="form-group">
					<h3>Previous Working Details</h3>
					<label>Employee Details:</label>
					<input type="textbox" name="FirstName" class="form-control" placeholder="FirstName" ng-model="FirstName" required>
					<input type="textbox" name="LastName" class="form-control" placeholder="LastName" ng-model="LastName" required></br>
						<label>Gender:</label>
					<input type="textbox" name="gender" class="form-control" placeholder="gender" ng-model="gender" required></br>
							<label>Company Details:</label>
					<input type="textbox" name="cName" class="form-control" placeholder="cName" ng-model="cName" required></br>
								<label>Address Details:</label>
					<input type="textbox" name="address" class="form-control" placeholder="address " ng-model="address" required>
					<input type="textbox" name="city" class="form-control" placeholder="city" ng-model="city" required>
					<input type="textbox" name="state" class="form-control" placeholder="state" ng-model="state" required></br>
									<label>Contact Details:</label>
					<input type="textbox" name="MobNo" class="form-control" placeholder="mobile No" ng-model="MobNo" required>
					<input type="textbox" name="off_contactNo" class="form-control" placeholder="office No" ng-model="off_contactNo" required></br></br>

				</div>
				<button type="submit" class="btn btn-primary" ng-click="doSave()" >Save</button>
	<button type="submit" class="btn btn-primary" ng-click="doUpdate()" >Update</button>
	<button type="submit" class="btn btn-primary" ng-click="doDelete()" >Delete</button>
	<button type="submit" class="btn btn-primary" ng-click="doGet()" >Get</button>
				<button type="clear" class="btn btn-primary" ng-click="doLogin()" >Reset</button>
			</form>
			</div>

