<div>	<form name="parentForm">
				<div class="form-group">
					<h3>Parent Details</h3>
					<label>Father Details:</label>
					<input type="textbox" name="fFirstName" class="form-control" placeholder="FirstName" ng-model="fFirstName" required>
					<input type="textbox" name="fLastName" class="form-control" placeholder="LastName" ng-model="fLastName" required></br>
						<label>Mother Details:</label>
					<input type="textbox" name="mFirstName" class="form-control" placeholder="FirstName" ng-model="mFirstName" required>
					<input type="textbox" name="mLastName" class="form-control" placeholder="LastName" ng-model="mLastName" required></br>
							<label>Address Details:</label>
					<input type="textbox" name="address" class="form-control" placeholder="address " ng-model="address" required>
					<input type="textbox" name="city" class="form-control" placeholder="city" ng-model="city" required>
					<input type="textbox" name="state" class="form-control" placeholder="state" ng-model="state" required></br>
								<label>Contact Details:</label>
					<input type="textbox" name="contact" class="form-control" placeholder="contactNo" ng-model="contact" required></br></br>
				</div>
				<button type="submit" class="btn btn-primary" ng-click="doSave()" >Save</button>
	<button type="submit" class="btn btn-primary" ng-click="doUpdate()" >Update</button>
	<button type="submit" class="btn btn-primary" ng-click="doDelete()" >Delete</button>
	<button type="submit" class="btn btn-primary" ng-click="doGet()" >Get</button>
				<button type="clear" class="btn btn-primary" ng-click="doLogin()" >Reset</button>
  <button type="button" class="btn btn-primary" ui-sref="qualification" >NEXT</button>
			</form>
			</div>

