<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">EMS</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#employee">Home</a></li>
      <li><a href="#"></a></li>
      <li><a href="#"></a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <button class="btn btn-primary" ng-click="addEmployeenew()">Add Employee</button>
      <button class="btn btn-danger navbar-btn" ng-click="logout()" >Logout</button>
    </ul>
  </div>
</nav>

<div class="content content-left">
  <div class="spaceH10"></div>
  <div class="spaceH10"></div>
  <div class="container-fluid scroll-y">
    <div class="row margin-b-30">
      <div class="col-xs-12">
        <div class="dashboard-card employeelist">
          <h3>
            All Employees
          </h3>
          <div class="card-body">
            <table ng-table="tableParams" class="table table-striped table-bordered rwd-table" show-filter="true">
              <tr ng-repeat="employee in $data">
                <td title="'Employee Name'" filter="{ name: 'text'}" sortable="'name'">
                  {{employee.name}}</td>
                <td title="'Age'" filter="{ age: 'text'}" sortable="'age'">
                  {{employee.age}}</td>
                <td title="'DOB'" filter="{ DOB: 'text'}" sortable="'DOB'">
                  {{employee.DOB}}</td>
                <td title="'Email'" filter="{ Email: 'text'}" sortable="'Email'">
                  {{employee.Email}}</td>
                <td title="'Address'" filter="{ address: 'text'}" sortable="'address'">
                  {{employee.address}}</td>
                <td title="'City'" filter="{ city: 'text'}" sortable="'city'">
                  {{employee.city}}</td>
                   <td title="'state'" filter="{ state: 'text'}" sortable="'state'">
                  {{employee.state}}</td>
                <td title="'postalCode'" filter="{ postalCode: 'text'}" sortable="'postalCode'">
                  {{employee.postalCode}}</td>
                <td title="'contactNo'" filter="{ contactNo: 'text'}" sortable="'contactNo'">
                  {{employee.contactNo}}</td>
                <td title="'qualification'" filter="{ qualification: 'text'}" sortable="'qualification'">
                  {{employee.qualification}}</td>
                <td title="'gender'" filter="{ gender: 'text'}" sortable="'gender'">
                  {{employee.gender}}</td>
                <td title="'currentExp'" filter="{ CurrentExp: 'text'}" sortable="'CurrentExp'">
                  {{employee.currentExp}}</td>
                <td title="'marritalStatus'" filter="{ marritalStatus: 'text'}" sortable="'marritalStatus'">
                  {{employee.marritalStatus}}</td>
                <td title="'Action'">
                  <button  class="btn btn-primary" ng-click="gotoDashboard(employee.eId)">Dashboard</button>
                  <button  class="btn btn-primary" ng-click="doDelete(employee.eId)">Delete</button>
                </td>
              </tr>
            </table>
          </div>
          <div class="spaceH10"></div>
          <div class="spaceH10"></div>
        </div>
      </div>
    </div>
  </div>
</div>
