
<div>
	<form name="qualificationForm">
				<div class="form-group">
					<h3>Qualification Details</h3>
					<label>Marks 10th:</label>
					<input type="textbox" name="marks10" class="form-control" placeholder="10th Percentage" ng-model="marks10" required></br>
						<label>Marks 12th:</label>
					<input type="textbox" name="marks12" class="form-control" placeholder="12th Percentage" ng-model="marks12" required></br>
							<label>Graduation Percentage/Grade:</label>
					<input type="textbox" name="grade_per" class="form-control" placeholder="Graduation Percentage/Grade" ng-model="grade_per" required></br>
								<label>College:</label>
					<input type="textbox" name="college" class="form-control" placeholder="college" ng-model="college" required></br>
									<label>University:</label>
					<input type="textbox" name="university" class="form-control" placeholder="university" ng-model="university" required></br>
										<label>Graduation Type:</label>
					<input type="textbox" name="gardType" class="form-control" placeholder="Stream@exp-Be/B-tech" ng-model="gradType" required></br>
											<label>Post Graduation Type:</label>
					<input type="textbox" name="pgardType" class="form-control" placeholder="Stream@exp-MBA" ng-model="pgradType" required></br></br>

				</div>
				<button type="submit" class="btn btn-primary" ng-click="doLogin()" >Save</button>
		<button type="submit" class="btn btn-primary" ng-click="doUpdate()" >Update</button>
		<button type="submit" class="btn btn-primary" ng-click="doDelete()" >Delete</button>
		<button type="submit" class="btn btn-primary" ng-click="doGet()" >Get</button>
				<button type="clear" class="btn btn-primary" ng-click="doLogin()" >Reset</button>
    <button type="button" class="btn btn-primary" ui-sref="department" >NEXT</button>
			</form>
			</div>

